/* Global */

* {
  margin: 0px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border: 4px solid var(--md-sys-color-primary-light);
  border-radius: 100px;
}

.card {
  border-radius: 12px;
  margin: 16px;
  box-shadow: 0px 1px 3px 1px var(--md-sys-color-outline-variant-light), 0px 1px 2px 0px var(--md-sys-color-outline-light);
}

.card-detail {
  padding: 16px;
}

.react-logo-circle {
  fill: #087ea3;
}

.react-logo-ellipse {
  stroke: #087ea3;
}

a {
  text-decoration: none;
}

/* App */

.app-layout {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  position: relative;
}

/* Navigation */

.navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  padding: 12px;
  cursor: pointer;
  flex: 1;
}

.navigation-icon {
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-icon svg {
  margin: 6px;
  fill: var(--md-sys-color-on-surface-variant-light);
}

.navigation-label {
  height: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.navigation-active svg {
  fill: var(--md-sys-color-on-secondary-container-light);
}

/* Home */

.home {
  display: grid;
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  overflow: auto;
}

.home-heading {
  align-self: end;
  justify-self: center;
  text-align: center;
  margin-bottom: 16px;
}

.home-description {
  text-align: center;
}

/* About */

.about {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  overflow: auto;
}

.about-profile-photo-container {
  text-align: center;
  margin-bottom: 16px;
}

.about-description {
  text-align: justify;
  margin-bottom: 20px;
}

.about-heading {
  text-align: center;
  margin-bottom: 16px;
}

.about-timeline-heading {
  font-weight: bold;
}

.about-timeline-body {
  text-align: justify;
  margin-left: 16px;
  border-left: 1px solid var(--md-sys-color-outline-light);
}

/* Experience */

.experience {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}

.company-logo {
  width: 100%;
  background-color: white;
  border-radius: 12px;
}

.job-title {
  margin-bottom: 8px;
}

.job-subtitle {
  display: flex;
  margin-bottom: 20px;
}

.job-company-name {
  flex: 1;
}

.job-duration {
  flex: 1;
  text-align: end;
}

/* Project */

.project {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}

.project-name {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 20px 0px;
}

.project-tools {
  display: flex;
  margin-bottom: 20px;
}

.project-tools svg {
  width: 48px;
  height: 48px;
}

.project-tool {
  flex: 1;
  text-align: center;
}

.project-description {
  margin-top: 20px;
}

.contact {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-items {
  padding-bottom: 80px;
}

.contact-item {
  width: 230px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact img {
  width: 48px;
  height: 48px;
  margin: 14px;
  background-color: white;
  border: 4px solid white;
  border-radius: 100px;
}

.contact svg {
  width: 48px;
  height: 48px;
  margin: 14px;
  background-color: white;
  border: 4px solid white;
  border-radius: 100px;
}

.contact a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* Global */

  .profile-photo {
    border: 4px solid var(--md-sys-color-primary-dark);
  }

  .card {
    box-shadow: 0px 1px 3px 1px var(--md-sys-color-outline-variant-dark), 0px 1px 2px 0px var(--md-sys-color-outline-dark);
  }

  .react-logo-circle {
    fill: #149dc9;
  }

  .react-logo-ellipse {
    stroke: #149dc9;
  }

  .redux-logo {
    fill: #ba8fff;
  }

  .firebase-logo-circle {
    fill: #fff;
  }

  .firebase-logo-circle-content {
    fill: #000;
    fill-opacity: 0.54;
  }

  .vercel-logo {
    fill: white;
  }

  /* Navigation */

  .navigation-icon svg {
    fill: var(--md-sys-color-on-surface-variant-dark);
  }

  .navigation-active {
    fill: var(--md-sys-color-on-secondary-container-dark);
    background-color: var(--md-sys-color-secondary-container);
  }

  /* Home */
  
  .contact-icon {
    fill: var(--md-sys-color-on-background-dark);
    margin-right: 20px;
  }

  /* About */

  .about-timeline-body {
    border-left: 1px solid var(--md-sys-color-outline-dark);
  }
}

@media screen and (min-width: 840px) {
  /* App */
  
  .app-layout {
    flex-direction: row;
  }

  .app-navigation {
    order: 1;
  }

  .app-content {
    order: 2;
  }

  /* Navigation */

  .navigation {
    height: 100%;
    width: 80px;
    display: grid;
    overflow: auto;
  }

  .navigation-item {
    width: inherit;
    align-self: center;
    padding: 0px;
    margin: 12px 0px;
  }

  .navigation-icon {
    margin: 0px 12px;
  }

  /* Home */

  .home {
    right: 24px;
    left: 24px;
    column-gap: 24px;
  }

  .home-heading {
    grid-column: 1;
    align-self: center;
  }

  .home-description {
    grid-column: 2;
    align-self: center;
  }

  /* About */

  .about {
    right: 24px;
    left: 24px;
    display: grid;
    column-gap: 24px;
  }

  .about-interest {
    width: 30dvw;
    grid-column: 1;
    align-self: center;
  }

  .about-background {
    grid-column: 2;
    align-self: center;
  }

  .about-timeline-body {
    padding-left: 16px;
  }

  /* Experience */

  .experience {
    right: 24px;
    left: 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .project {
    right: 24px;
    left: 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
  }
}